@media only screen and (min-width: 650px){
  html{
    font-size:18px;
  }
}

*{
  box-sizing: border-box; /* set box size to inlude margins */
}
html {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 200;
  color: #22262980;
  background: #eee;
}
body {
  font-size: .8rem;
}

img {
  display: block;
  max-width: 90%;
  margin: 10px auto;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff80;
  text-decoration: none;
}


.main_container{
  display: block;
  max-width: 800px;
  margin: auto;
  padding: 20px 50px;
  float: center;
}

.header{
  margin: 10px 0px;
  font-size: 2rem;
  color: #41839D;
}
.sub{
  font-size: 1.5rem;
}

/* // navbar // */
.topnav{
  display: flex;
  overflow: hidden;
  letter-spacing: 0.6px;
  font-size: 1.3em;
  text-transform: lowercase;
  background: #00000030;
  margin: 10px 0px;
}
/* navbar links */
.topnav a {
  color: #17BCFD60;
  text-decoration: none;
  text-align: center;
  float: left;
  padding: 7px;
}
.topnav a:visited{
  color: inherit;
}
.topnav a:active {
  background-color: #17BCFD60;
  color: #ffffff80;
}
/* navbar links on hover */
.topnav a:hover{
  background-color: #41839D;
  color: #FFF;
}

.content{
  padding: 7px 15px;
  background: #ffffff10
}

.footer{
  background: #00000030;
  padding: 2rem .75rem;
  margin: 15px 0px;
}
