html {
  color: #22262980;
  background: #fff;
}

a {
  color: #17bcfd90;
}

h1, h2, h3, h4{
  color: #222629;
}
a:hover {
  color: #17bcfd;
}

.header{
  color: #41839D;
}

/* // navbar // */
.topnav{
  background: #00102010;
}
/* navbar links */
.topnav a {
  color: #41839D;
}
.topnav a:visited{
  color: #41839D;
}
.topnav a:active {
  background-color: #17BCFD60;
  color: #ffffff80;
}
/* navbar links on hover */
.topnav a:hover{
  background-color: #41839D;
  color: #FFF;
}

.content{
  background: #ffffff10
}

.footer{
  background: #00102010;
}
