@charset "UTF-8";

/*
  enable light/dark modes
  removed because I now handle this with js
 */
/*
@import './dark.css' (prefers-color-scheme: dark);
@import './light.css' (prefers-color-scheme: light);
*/

/* use the Inter font if Helvetica isn't availiable */
@import url('https://rsms.me/inter/inter.css');

/* define font stack */

html{
  font-size: 10pt;
  font-weight: 200;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Inter', sans-serif;
}

/* optimiesed for mobile but when in desktop */
@media only screen and (min-width: 650px){
  html{
    font-size: 18px;
  }
}

h1, h2, h3, h4{
  font-weight: 100;
}

img {
  display: block;
  max-width: 90%;
  margin: 10px auto;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.header{
  font-size: 2em;
}
.sub{
  font-size: 1.5em;
}
.main_container{
  display: block;
  max-width: 650px;
  margin: auto;
  padding: 20px 0px;
  float: center;
}

/* navigation at top of page */
.topnav{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin: 0px;
}

.nav {
  letter-spacing: 0.6px;
  font-size: 1.3em;
  text-transform: lowercase;
  text-decoration: none;
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px 10px;
}

.icons{
  display: block;
}

.nav a {
  float: left;
  text-align: center;
  padding: 7px;
}
.content{
  padding: 7px 15px;
}

.footer{
  padding: 2rem .75rem;
  margin: 15px 0px;
}
